In [2]:
import pandas as pd
import os
ci_filepath = r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv"

cc_filepath = r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildCharacteristics.csv"
 
identifiers = pd.read_csv (ci_filepath)

Charcter = pd.read_csv(cc_filepath)

In [12]:

identifiers ['ExpPersonBirthdate_dt'] = pd.to_datetime(identifiers['ExpectedPersonBirthDate'],format ="%Y-%m-%d")
identifiers.info()
identifiers.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  332 non-null    int64
 1   LAchildID                   332 non-null    object
 2   UPN                         332 non-null    object
 3   FormerUPN                   0 non-null      float64
 4   UPNunknown                  0 non-null      float64
 5   PersonBirthDate             332 non-null    object
 6   ExpectedPersonBirthDate     7 non-null      object
 7   GenderCurrent               332 non-null    int64
 8   PersonDeathDate             21 non-null     object
 9   ExpPersonBirthdate_dt       7 non-null      datetime64[ns]
 10  PersonBirthDate_dt          332 non-null    datetime64[ns]
 11  ExpectedPersonBirthDate_dt  332 non-null    datetime64[ns]
 12  PersonDeathDate_dt          20 non-null     datetime64[ns]
dtypes: datetime64[ns](4), float64(2), int64(2), object(5)
memory usage: 33.8+ KB

,Unnamed: 0,LAchildID,UPN,FormerUPN,UPNunknown,PersonBirthDate,ExpectedPersonBirthDate,GenderCurrent,PersonDeathDate,ExpPersonBirthdate_dt,PersonBirthDate_dt,ExpectedPersonBirthDate_dt,PersonDeathDate_dt
0,0,RND000215205141,A850728973744,NaN,NaN,2019-12-06,NaN,1,NaN,NaT,2019-12-06,2019-12-06,NaT
1,1,RND000824303014,A141396438491,NaN,NaN,2011-04-27,NaN,9,NaN,NaT,2011-04-27,2011-04-27,NaT
2,2,RND000750143123,A929946861554,NaN,NaN,2017-06-06,2019-12-06,1,NaN,2019-12-06,2017-06-06,2017-06-06,NaT
3,3,RND000909164501,A612330267292,NaN,NaN,2014-10-03,NaN,0,NaN,NaT,2014-10-03,2014-10-03,NaT
4,4,RND000382171815,A604459366806,NaN,NaN,2019-09-25,NaN,2,NaN,NaT,2019-09-25,2019-09-25,NaT

In [19]:
Charcter.head()

   Unnamed: 0        LAchildID Ethnicity
0           0  RND000215205141      WIRT
1           1  RND000824303014      WROM
2           2  RND000750143123      AOTH
3           3  RND000909164501      MWBC
4           4  RND000382171815      APKN

In [9]:
identifiers.head()

# strftime
identifiers['PersonBirthDate_dt'] = pd.to_datetime(identifiers['PersonBirthDate'], format="%Y-%m-%d")

identifiers['ExpectedPersonBirthDate_dt'] = pd.to_datetime(identifiers['PersonBirthDate'], format="%Y-%m-%d")

identifiers['PersonDeathDate_dt'] = pd.to_datetime(identifiers['PersonDeathDate'], format="%Y-%m-%d", errors='coerce')

identifiers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  332 non-null    int64
 1   LAchildID                   332 non-null    object
 2   UPN                         332 non-null    object
 3   FormerUPN                   0 non-null      float64
 4   UPNunknown                  0 non-null      float64
 5   PersonBirthDate             332 non-null    object
 6   ExpectedPersonBirthDate     7 non-null      object
 7   GenderCurrent               332 non-null    int64
 8   PersonDeathDate             21 non-null     object
 9   ExpPersonBirthdate_dt       7 non-null      datetime64[ns]
 10  PersonBirthDate_dt          332 non-null    datetime64[ns]
 11  ExpectedPersonBirthDate_dt  332 non-null    datetime64[ns]
 12  PersonDeathDate_dt          20 non-null     datetime64[ns]
dtypes: datetime64[ns](4), float64(2), int64(2), object(5)
memory usage: 33.8+ KB

In [14]:
child_info = pd.DataFrame({'ChildID':['id1', 'id2', 'id3', 'id4', 'id5'],
                           'Age at first contact':[6, 12, 11, 1, 19],
                           'SEX':['M', 'm', 'F', '', 'F'],
                           'Birthday':['01/01/2002', '02/02/2003', '01/01/2000', '03/03/2023', '06/01/2012'],
                           'CP Plan?':['Y', 'n', 'N', 'No', 'yES'],})
child_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ChildID               5 non-null      object
 1   Age at first contact  5 non-null      int64
 2   SEX                   5 non-null      object
 3   Birthday              5 non-null      object
 4   CP Plan?              5 non-null      object
dtypes: int64(1), object(4)
memory usage: 332.0+ bytes

In [15]:
# dictionary of lists
child_info = pd.DataFrame({'ChildId':['id1', 'id2', 'id3', 'id4', 'id5'],
                           'Age at first contact':[6, 12, 11, 1, 19],
                           'SEX':['M', 'm', 'F', '', 'F'],
                           'Birthday':['01/01/2002', '02/02/2003', '01/01/2000', '03/03/2023', '06/01/2012'],
                           'CP Plan?':['Y', 'n', 'N', 'No', 'yES'],})

# list of dictionaries
nhs_numbers = pd.DataFrame([{'ChildId':'id1',
                             'NHS Number':'303'},
                             {'ChildId':'id2',
                              'NHS Number':'3u5029'},
                            {'ChildId':'id3',
                            'NHS Number': 'gqw3',},
                            {'ChildId':'id4',
                            'NHS Number': 'avsgvb',},
                            {'ChildId':'id5',
                            'NHS Number': 'varwvw',},])

In [17]:
child_info
from dateutil.relativedelta import relativedelta

child_info['Birthday_dt'] = pd.to_datetime(child_info['Birthday'], dayfirst=True)

# relativedelta(pd.to_datetime("today"), row)

child_info['Age'] = child_info['Birthday_dt'].apply(lambda row: relativedelta(pd.to_datetime("today"), row).years)

child_info

  ChildId  Age at first contact SEX    Birthday CP Plan? Birthday_dt  Age
0     id1                     6   M  01/01/2002        Y  2002-01-01   23
1     id2                    12   m  02/02/2003        n  2003-02-02   22
2     id3                    11   F  01/01/2000        N  2000-01-01   25
3     id4                     1      03/03/2023       No  2023-03-03    2
4     id5                    19   F  06/01/2012      yES  2012-01-06   13

In [18]:
import openpyxl

filepath = r"https://github.com/data-to-insight/ERN-sessions/raw/main/data/small%20excel.xlsx"

df_dict = pd.read_excel(filepath, sheet_name=None)

In [ ]:
child_info =pd.merge (identifiers,Charcter, left on=)